dokuwiki/conf/*.local.conf
dokuwiki/conf/acl.auth.php
dokuwiki/conf/local.php
dokuwiki/conf/local.protected.php
dokuwiki/conf/users.auth.php
dokuwiki/conf/user*.css
dokuwiki/conf/user*.js
dokuwiki/conf/words.aspell
dokuwiki/conf/lang/*
dokuwiki/conf/tpl/*
.htaccess
*.sw*
*.bak
*.old
*~
*.DS_Store
*.iml
.idea/
dokuwiki/data/attic/*
dokuwiki/data/pages/*
dokuwiki/data/cache/*
dokuwiki/data/index/*
dokuwiki/data/locks/*
dokuwiki/data/media/*
dokuwiki/data/media_meta/*
dokuwiki/data/media_attic/*
dokuwiki/data/meta/*
dokuwiki/data/tmp/*
dokuwiki/lib/images/*/local/*
